*{
    justify-content: center;
    align-items: center;
    align-content: center;
}
html{
    margin-top: 8rem;
}
body{
    background-color:blanchedalmond;
    margin: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.info-box{
    width: 20em;
    height: 22em;
    margin: 0.25rem;
    border: 2px solid rgb(96 139 168);
    border-radius: 1rem;
    padding: 0;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    background-color: aliceblue; 
}
.name{
    font-size: 25px;
}
#name{
    font-size: medium;
}